/* header.css */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-bottom: 1px solid #000;
}

/* Estado transparente e fundo branco */
header.transparent,
header:not(.transparent) {
  background: rgba(255, 255, 255, 1);
}

/* Header visível */
header.visible {
  transform: translateY(0);
}

/* Header oculto */
header.hidden {
  transform: translateY(-100%);
}

.language-switch {
  display: flex;
  gap: 5px;
}

.paragraf-h1 {
  color: #000;
}

nav.left-nav {
  display: flex;
  align-items: center;
}

nav.right-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 100px;
  height: auto;
  display: block;
}

.language-switch .lang-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.25rem;
  color: black;
  transition: text-decoration 0.3s;
}

.language-switch .lang-btn:hover {
  text-decoration: underline;
}

.create-link {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 15px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  text-decoration: none;
}

.create-link:hover {
  background: #1d1d1d;
}

.language-button {
  outline: none;
  border: none; 
  background: transparent;
  cursor: pointer;
}

.special-caracter {
  font-family: Arial, sans-serif;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  header {
    padding: 0.5rem 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  nav.left-nav,
  nav.right-nav {
    width: auto;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .language-switch {
    justify-content: flex-start;
    gap: 5px;
  }

  .create-link {
    width: auto;
    text-align: center;
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    border-radius: 10px;
  }

  .logo {
    width: 80px;
  }
}
