.section1-container {
  text-align: center;
  padding: 5rem;
  margin: 0 auto;
}

.section1-container-text {
  text-align: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  opacity: 1;
  overflow: hidden;
}

.electricity-title {
  font-size: 64px;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
}

.electricity-title-1 {
  font-size: 64px;
  margin-bottom: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 5px;
  text-align: start;
}

.section1-container .intro-paragraph {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: center;
}

.electricity-p-1 {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 1rem;
  text-align: start;
}

.section1-image {
  min-width: 100%;
  height: auto;
  border-radius: 25px;
  margin-top: 1rem;
}

.img-section-1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.container-descreption-img {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 2rem;
  width: 100%;
  overflow: hidden;
}

/* Media Queries para dispositivos móveis */
@media (max-width: 768px) {
  .electricity-title,
  .electricity-title-1 {
    font-size: 32px!important;
    margin: 0 !important;
  }
.section1-container-text{
    padding: 0 !important;
    display: flex;
    flex-direction: column	;
    gap: 20px;
}

 

  .description,
  .electricity-p-1 {
    font-size: 16px;
    margin: 0 !important;
  }

  .section1-container {
    padding:3rem 1rem
  }

  .container-descreption-img {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
  }

  .electricity-title-1 {
    text-align: start;
    margin-bottom: 1rem;
    font-size: 32px !important;
  }

  .electricity-p-1 {
    text-align: start;
  }
}
